.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffc9;
    padding: 1% 5%;
    height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    backdrop-filter: saturate(180%) blur(10px);
}

.nav-items{
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}